* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}


body {
    height: 100vh;
}

.caixa-mae {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.caixa-principal {
    width: 50%;
}

.logo-mario {
    width: 200px;
    margin-left: 70px;
}

.img-mario-luigie {
    height: 400px;
}

.video-mario {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;


}

.mascara-video {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

p {
    color: white;
    font-size: 20px;
}

button {
    height: 50px;
    width: 200px;
    border: none;
    cursor: pointer;
    background: #c51111;
    border-radius: 3px;
    color: #ffff;
    text-decoration: uppercase;
    font-weight: bold;
    margin: 30px;
}

button:hover {
    opacity: .8;
    background: #e65555;
    border-radius: 50px;
    transition: 1s ease-in-out;
}

.link-whatz img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;

}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.header img {
    height: 60px;
}

.header a {
    color: #ffff;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;

}

.header a:hover {

    color: #c51111;
    font-size: 25px;
    transition: 0.5s ease-in-out;
}

.fala-conosco {
    background: #ffff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    position: fixed;
    left: -330px;
    top: 30%;
    transition: left 1s linear;
    z-index: 4;
    /*
   
    
    left:50%;
    transform: translatex(-50%);
    */


}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: chartreuse;
}

textarea {
    height: 100px;
    width: 270px;
    border-radius: 3px;
    border: 1px solid gray;
    padding-left: 10px;
    padding: 10px;
    outline-color: chartreuse;
}

.mascara-form {
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    z-index: 3;
}

@media(max-width:1000px) {
    p {
        display: none;
    }

    .caixa-mae {
        flex-direction: column;
        padding: 10px;
    }

    .caixa-principal {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .logo-mario {
        margin-left: 0;
    }

    .img-mario-luigie {
        width: 80vw;
        height: auto;
    }

    .header {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header a {


        font-size: 20px;
    }

    .header img {
        display: none;
    }


}